

#map { 
  height: 75vh; 
  width: 100%;
  /*margin-bottom: 20px;*/
}

img {
  max-height: inherit; 
  margin: 0 15px 0 0;
  /*border: 1px solid #ddd; */
}

/* Specific styling for map tiles */
/* Copilot */
.leaflet-tile {
  border: none !important;
  max-height: none !important;
}


/* https://coder-coder.com/display-divs-side-by-side/ */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}



.image_subgrid {
  display: grid;
  grid-template-rows: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit, 1fr);
  height: 1 fr;
  
}




.link_text {
  color: #000000;
  text-decoration: none;
  /*vertical-align: middle;*/ 
   overflow-wrap: break-word;
}