<!DOCTYPE html>
<html lang="en">

<head>
	<base target="_top">
	<meta charset="utf-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


	<title>flickr Mauer Photos</title>

	<!--<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" /> -->
	<link rel="stylesheet" href="/static/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<!-- Leaflet -->	
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/@turf/turf@7/turf.min.js"></script>


	<!-- Leaflet Legend-->	 
	<link rel="stylesheet" href="/static/leaflet.legend.css" />
    <script type="text/javascript" src="/static/leaflet.legend.js"></script>

	<!-- Marker Cluster -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
	<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>

	<!-- Selfmade Scripts -->
	<script src="/static/script.js"></script>
</head>


<body>
	<!-- https://coder-coder.com/display-divs-side-by-side/ -->

	<!--
	<div class="grid-container">
		<div class="grid-child">
			<div id="map" class="map"></div>
		</div>
		<div class="grid-child">
			<div id="image-container"></div>
		</div>
	</div> -->

	<div class="container">
		<div class="header">
			<!--<h2>Flickr Mauer Photos</h2>-->
			<h2>flickr Mauer Photos</h2>
		</div>
		<div class="body">
			<div class="map_container">
				<div class = "map" id="map"> </div>
				<div class="manual" id = "manual"><p>Move map or click on marker to explore more photos</p></div>
			</div>
						
			<div class="image-container" id="image-container"></div>
				
		</div>
		<div class="footer">
			<p>This product uses the Flickr API but is not endorsed or certified by SmugMug, Inc.</p>
		</div>
	</div>


	
	<script>
		// Variables need to be globally available
		var current_page;
		var page_end;

		// 1 Map initialization
		var map = L.map('map').setView([52.52, 13.35], 11);
		
		
		// 2a) Add backggroud map: OSM
		var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
			transparent: true,
			//attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
			collapsed: true
		}).addTo(map);
		
		
		// 2b) Add backggroud map: DOPs
		var luftbilder2024 = L.tileLayer.wms('https://gdi.berlin.de/services/wms/truedop_2024?', {
			layers: 'truedop_2024',
			format: 'image/png',
			transparent: true,
			//attribution: '© <a href="https://gdi.berlin.de/geonetwork/srv/ger/catalog.search#/metadata/aff8a8a5-2b48-44e8-949b-ea5f7d382a4f" target="_blank">Geoportal </a> Digitale farbige TrueOrthophotos 2024 (DOP20RGBI)  | <a href="https://www.govdata.de/dl-de/zero-2-0" target="_blank">DL-DE-Zero-2.0</a>'
		}).addTo(map);
		
			
		// 2c) Add backggroud map: Luftbilder 1989
		var luftbilder1989 = L.tileLayer.wms('https://gdi.berlin.de/services/wms/berlinermauer?', {
			layers: 'e_luftbilder1989',			
			format: 'image/png',
			transparent: true,
			//attribution: '© <a href="https://gdi.berlin.de/geonetwork/srv/ger/catalog.search#/metadata/8cd050c5-e3ff-369e-af46-a62f8a7f7140" target="_blank">Geoportal </a> Verlauf der Berliner Mauer, 1989 | <a href="https://www.govdata.de/dl-de/zero-2-0" target="_blank">DL-DE-Zero-2.0</a>'
		});


		
		var baseMaps = {
			"Openstreetmap": osm,
			"Digitale farbige TrueOrthophotos 2024 (DOP20RGBI)": luftbilder2024,			
		};
		
		var overlayMaps = {
			"Luftbilder 1989": luftbilder1989
		};
		
		L.control.layers(baseMaps, overlayMaps).addTo(map);
		luftbilder1989.addTo(map);  // Add it on top	

		{% block scripts %}

		//2d) Fetch GeoJSON (WFS Verlauf Berliner Mauer)
		const wall_geometry = JSON.parse({{ wall_geometry| tojson | safe }});
		
		{% endblock %}
		
		// Von Co-Pilot
		// Get DOM elements
		
		wall = L.geoJSON(wall_geometry, {
			// You can add style options here if needed
			style: {
				color: "#ff7800",
				weight: 4,
				opacity: 0.65
			}
		});
		
		


		
		// 3) Fetch local GeoJSON (Response of Flickr API in flask / app.py)
		//https://www.sitepoint.com/jquery-read-text-file/
		jQuery.get('/static/data/flickr_api.geojson', function (data) {
			flickr_data = data;

			//https://stackoverflow.com/questions/70686232/cluster-geojson-layer-doesnt-work-with-marker-filtering
			const mcg = L.markerClusterGroup().addTo(map);
			L.geoJSON(data).addTo(mcg);

			// Event listener 1: Load photo when click on marker
			// https://gis.stackexchange.com/questions/172508/add-an-event-listener-on-a-marker-in-leaflet
			mcg.on("click", function (event) {
			var clickedMarker = event.layer;
			var feature = clickedMarker.feature;

			const imageContainer = document.getElementById('image-container');
			imageContainer.innerHTML = ''; // Clear existing images
			//const pagination = document.getElementById('pagination');
    			//pagination.innerHTML = ''; // Clear existing buttons
			
			showImage(feature);
						
			});

			// Event listener 2: Load gallery when map is loaded
			function onAdd(e) {
				current_page = 1;
				console.log('Layeradd fired');
				fillGallery(current_page)
			
			}
			wall.on('add', onAdd);	

			wall.addTo(map);

		});
		
		
		
				
		// 4a) Event listener 3: Query GeoJSON after dragging the map
		
		function onDrag(e) {
			// 1 Clear existing images/Container			
			const imageContainer = document.getElementById('image-container');
			imageContainer.innerHTML = ''; // Clear existing images
			imageContainer.scrollTop;
			
			current_page = 1;			
			fillGallery(current_page)
		}
		map.on('moveend', onDrag);


		

		// 4b) Event listener 4: for infinite scroll:
			//https://javascript.plainenglish.io/effortless-infinite-scrolling-a-guide-to-dynamic-image-loading-3ff6e7a4a608
		const imageContainer = document.getElementById('image-container');

		imageContainer.addEventListener('scroll', debounce(() => {
  			// Formula from https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollHeight
			if (Math.abs(imageContainer.scrollHeight - imageContainer.clientHeight - imageContainer.scrollTop) <= 1 
				&& current_page < page_end) {
			
				current_page ++
				console.log('Loading page ' + current_page);
				console.log('page_end ' + page_end);

				fillGallery(current_page);
			}
		}, 200));
		


		// 5) Add legend

		L.control.Legend({
			position: "topright",
			collapsed: true,
			legends: [{
				title: "Legend",
				label: "Berlin Wall",
				layers: [wall],
				type: "polyline",
				color: "#ff7800",
				weight: 4,
				opacity: 0.65,
				
			}]
		}).addTo(map);
			

		//  6a) Add custom attribution control (Co-Pilot)
		var attributionControl = L.control.attribution({
			position: 'bottomleft',
			prefix: false,
			collapsed: true  // This makes it collapsible on mobile
		}).addTo(map);

		// Add your attributions
		attributionControl.addAttribution('&copy; <a href="http://www.openstreetmap.org/copyright">OSM</a>');
		attributionControl.addAttribution('© <a href="https://gdi.berlin.de">Geoportal Berlin</a> | <a href="https://www.govdata.de/dl-de/zero-2-0" target="_blank">DL-DE-Zero-2.0');
				





	</script>

</body>

</html>