<!DOCTYPE html>
<html lang="en">

<head>
	<base target="_top">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Quick Start - Leaflet</title>

	<!--<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" /> -->
	<link rel="stylesheet" href="/static/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/@turf/turf@7/turf.min.js"></script>

	<!-- Marker Cluster -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
	<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>

	<!-- Selfmade Scripts -->
	<script src="/static/script.js"></script>
</head>


<body>
	<!-- https://coder-coder.com/display-divs-side-by-side/ -->

	<!--
	<div class="grid-container">
		<div class="grid-child">
			<div id="map" class="map"></div>
		</div>
		<div class="grid-child">
			<div id="image-container"></div>
		</div>
	</div> -->

	<div class="container">
		<div class="header"></div>
		<div class="body">
			<div class = "map" id="map"></div>
			<div class = "gallery" id = "gallery">
				<div class="image-container" id="image-container"></div>
				<div class="pagination" id = "pagination"></div>
			</div>
		</div>
		<div class="footer">
			<p>Dieses Produkt verwendet die Flickr API, ist jedoch nicht von SmugMug, Inc. bestätigt oder zertifiziert.</p>
		</div>
	</div>


	
	<script>
		// 1 Map initialization
		var map = L.map('map').setView([52.486753, 13.488722], 13);

	
		// 2a) Add backggroud map: Luftbilder 1989
		var luftbilder1989 = L.tileLayer.wms('https://gdi.berlin.de/services/wms/berlinermauer?', {
			layers: 'e_luftbilder1989'
		});

		// 2b) Add backggroud map: DOPs
		var luftbilder2024 = L.tileLayer.wms('https://gdi.berlin.de/services/wms/truedop_2024?', {
			layers: 'truedop_2024'
		}).addTo(map);
		

		// 2c) Add backggroud map: OSM
		var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
			attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		}).addTo(map);


		
		var baseMaps = {
			"Luftbilder 1989": luftbilder1989,
			"Openstreetmap": osm,
			"Digitale farbige TrueOrthophotos 2024 (DOP20RGBI)": luftbilder2024
		};
		var layerControl = L.control.layers(baseMaps).addTo(map);
		
		{% block scripts %}

		//2d) Fetch GeoJSON (WFS Verlauf Berliner Mauer)
		const wall_geometry = JSON.parse({{ wall_geometry| tojson | safe }});
		
		{% endblock %}
		
		// Von Co-Pilot
		// Get DOM elements

		L.geoJSON(wall_geometry, {
			// You can add style options here if needed
			style: {
				color: "#ff7800",
				weight: 2,
				opacity: 0.65
			}
		}).addTo(map);


		

		// 3) Fetch local GeoJSON (Response of Flickr API)
		//https://www.sitepoint.com/jquery-read-text-file/
		jQuery.get('/static/data/flickr_api.geojson', function (data) {
			flickr_data = data;

			//https://stackoverflow.com/questions/70686232/cluster-geojson-layer-doesnt-work-with-marker-filtering
			const mcg = L.markerClusterGroup().addTo(map);
			L.geoJSON(data).addTo(mcg);

			// https://gis.stackexchange.com/questions/172508/add-an-event-listener-on-a-marker-in-leaflet
			mcg.on("click", function (event) {
			var clickedMarker = event.layer;
			var feature = clickedMarker.feature;

			const imageContainer = document.getElementById('image-container');
			imageContainer.innerHTML = ''; // Clear existing images
			const pagination = document.getElementById('pagination');
    		pagination.innerHTML = ''; // Clear existing buttons
			
			showImage(feature);
			
			});

		});
		
			
		// 4 Query GeoJSON after dragging the map
		function onDrag(e) {
			fillGallery(1)
		}
		map.on('moveend', onDrag);

		// 5) Query GeoJSON according to page numbers


	</script>

</body>

</html>